@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditorViewModel

@{
    ViewData["Title"] = $"{Model.PostModeString}文章";
}

<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<form asp-controller="Post" asp-action="PostEditResult" method="post">
    @Html.AntiForgeryToken()
    <h2 legend>@ViewData["Title"]</h2>

    <hr/>

    <div class="title">
        <h5 style="display: inline">標題</h5> @Html.ValidationMessageFor(m => m.PostTitle)<br/>
        <input type="text" asp-for="PostTitle" placeholder="輸入標題 ..."/>
    </div>

    <hr/>

    <div class="content">
        <h5 style="display: inline">內容</h5> @Html.ValidationMessageFor(m => m.PostContent)<br/>
        <textarea asp-for="PostContent" rows="22" placeholder="輸入發文內容 ..."></textarea>
    </div>

    <hr/>

    <!-- To keep these values between Postback or posting... -->
    @Html.HiddenFor(model => model.EntityId)
    @Html.HiddenFor(model => model.PostMode)

    <div class="submit">
        <button type="submit">送出</button>
    </div>
</form>
</body>
</html>